import KalanfaApp from 'kalanfa-app';
import routes from './routes';

class {{ pascal }}Module extends KalanfaApp {
  get routes() {
    return routes;
  }
}

export default new {{ pascal }}Module();
